body {
	background-color: #282c34;
  }
  .App {
	text-align: center;
  }
  
  .App-logo {
	height: 40vmin;
	pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
	.App-logo {
	  animation: App-logo-spin infinite 20s linear;
	}
  }
  
  .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  
  .App-link {
	color: #61dafb;
  }
  
  @keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
  
  textarea[type=text] {
	  text-align:center;
	  display: block;
	  margin-left: 10rem;
	  width: 90%; 
	  border: 1px solid #818181;
	  padding: 5px;
	  width: 50rem;
	  height: 6rem;
	}
	
::placeholder {
    color: white;
  }
  
  
  .form-control{
	  background: transparent;
  }
  /* form {
	  width: 320px;
	  margin: 20px;
  } */
  form > div {
	  position: relative;
	  overflow: hidden;
  }
  form input, form textarea {
	  width: 100%;
	  border: 2px solid gray;
	  background: none;
	  position: relative;
	  top: 0;
	  left: 0;
	  z-index: 1;
	  padding: 8px 12px;
	  outline: 0;
  }
  /* form input:valid, form textarea:valid {
	  background: white;
  } */
  form input:focus, form textarea:focus {
	  border-color: #357EBD;
  }
  form input:focus + label, form textarea:focus + label {
	  background: #357EBD;
	  color: white;
	  font-size: 70%;
	  padding: 1px 6px;
	  z-index: 2;
	  text-transform: uppercase;
  }
  form label {
	  -webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
	  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
	  position: absolute;
	  color: #999;
	  padding: 7px 6px;
	  font-weight: normal;
  }
  form textarea {
	  display: block;
	  resize: vertical;
  }
  form.go-bottom input, form.go-bottom textarea {
	  padding: 12px 12px 12px 12px;
  }
  form.go-bottom label {
	  top: 0;
	  bottom: 0;
	  left: 0;
	  width: 100%;
  }
  form.go-bottom input:focus, form.go-bottom textarea:focus {
	  padding: 4px 6px 20px 6px;
  }
  form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
	  top: 100%;
	  margin-top: -16px;
  }
  form.go-right label {
	  border-radius: 0 5px 5px 0;
	  height: 100%;
	  top: 0;
	  right: 100%;
	  width: 100%;
	  margin-right: -100%;
  }
  form.go-right input:focus + label, form.go-right textarea:focus + label {
	  right: 0;
	  margin-right: 0;
	  width: 40%;
	  padding-top: 5px;
  }
  
  .calendar {
    box-sizing: border-box;
    font-size: 1rem;
    max-width: 400px;
  }
  
  .calendar .header {
    background-color: var(--light-blue);
    text-align: center;
    min-height: 2rem;
    line-height: 2rem;
    color: var(--black);
    font-family: var(--font-book);
    font-weight: 700;
    display: flex;
  }
  
  .calendar .day-names {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
  }
  
  .calendar .body {
    border: 1px solid var(--light-blue);
  }
  
  .calendar .header .previous {
    flex: 1;
    text-align: left;
    margin-left: 1rem;
  }
  
  .calendar .header .next {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
  }
  
  .calendar .week {
    background-color: white;
    width: calc(100% / 7);
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 400;
  }
  .calendar .week div {
    width: 100%;
  }
  
  .calendar .day {
    position: relative;
    width: calc(100% / 7);
    height: 44px;
    display: inline-block;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
  }
  
  .calendar .day div {
    width: 54px;
    height: 44px;
    position: relative;
    color: var(--black);
    z-index: 100;
    line-height: 44px;
  }
  
  .calendar .day div.before {
    color: var(--grey);
  }
  
  .calendar .day div.selected {
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
  }
  
  .calendar .day div.today {
    background-color: var(--grey);
  }

  :root {
	--black: rgb(58, 58, 58);
	--grey: rgb(205, 205, 205);
	--white: rgb(240, 240, 240);
	--red: rgb(206, 36, 36);
	--light-blue: rgb(102, 193, 255);
	--font-light: "AirbnbCerealLight", sans-serif;
	--font-book: "AirbnbCerealBook", sans-serif;
	--font-black: "AirbnbCerealBlack", sans-serif;
	color: var(--black);
	font-family: var(--font-light);
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
  }
  
  